.like-icon .contour {
  fill: black;
  transition: fill 0.3s ease;
}

.sparks {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.like-icon .core,
.like-icon .main-body {
  fill: none;
  opacity: 0;
  transition: opacity 0.35s ease, fill 0.2s ease;
}

.like-icon:not(.is-liked):hover .core,
.like-icon:not(.is-liked):hover .main-body {
  fill: #000;   
  opacity: 1;
}

.like-icon:not(.is-liked):hover .contour {
  fill: #000;
}

.card__like-button:active .like-icon .core,
.card__like-button:active .like-icon .main-body {
  fill: var(--animation-fill-color);
  opacity: 1;
}

.like-icon.is-liked .core,
.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  opacity: 1;
}

.like-icon.is-liked .core {
  opacity: 1;
  transition-delay: 0s;
}

.like-icon.is-liked .main-body {
  opacity: 1;
  transition-delay: 0.06s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

@keyframes heart-bump {

  0% {
     transform: scale(1);
    }

  50% {
     transform: scale(1.25);
    }

  100% {
     transform: scale(1);
    }
}

.like-icon.is-liked .heart {
  animation: heart-bump 0.3s ease-in 0.1s 1;
}

@keyframes sparks-flash {
  0% {
     opacity: 0;
    }

  50% {
     opacity: 1;
    }

  100% {
     opacity: 0;
    }
}
.like-icon.is-liked .sparks {
  animation: sparks-flash 0.3s ease-in 0.3s 1;
}

.like-icon:not(.is-liked) .contour {
  fill: var(--contour-color);
  transition: fill 0.1s linear;
}
