.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-main), sans-serif;
  font-variation-settings: 'wght' var(--font-main-weight);
  background-image: var(--page-background);
  background-size: 4px 4px, 4px 4px, cover;
  background-attachment: fixed;
}

.content-width {
  width: clamp(371px, 100%, 700px);
  margin: 0 auto;
}

.header {
  background-color: white;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px auto;
}

.header-content {
  font-family: var(--font-accent);
  margin: 120px 14px;
  text-align: center;
}

.header-title {
  font-size: 49px;
  vertical-align: bottom;
}

.header-subtitle {
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 20px;
}

.card {
  margin-bottom: 52px;
}

.card-title {
  display: flex;
  align-items: center;

  padding-left: 10px;
  background-color: white;
  border: 2px solid black;
  font-size: 18px;
  font-weight: 700;

}

.card-image {
  position: relative;
  width: 100%;
  max-height: 700px;
}

.image-2 {
  filter: saturate(0.3);
  width: 100%;
}

.image-3 {
  filter: brightness(1.5) contrast(2) saturate(2);
}

.image-4 {
  filter: hue-rotate(30deg);
}

.image-5 {
  filter: invert(1);
}

.image-6 {
  filter: sepia(0.9);
}

.image-7 {
  filter: blur(10px);
}

.image-8 {
  filter: blur(5px) saturate(1) hue-rotate(120deg);
}

.image-label {
  position: absolute;
  top: 25px;
  right: 13px;
  font-family: var(--font-accent);
  font-size: 14px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow:
  -1px 0 #fff, 
  0 1px #fff, 
  1px 0 #fff, 
  0 -1px #fff;
}

@supports((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .image-label {
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
    text-shadow: none;
  }
}

.card-subtitle {
  background-color: white;
  border: 2px solid black;
}

.card-p {
  margin: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 27px;
}

.card-text {
  font-size: 18px;
  line-height: 21px;
}

.card-buttons {
  margin: 25px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 12px;
}

.card__icon-button {
  background-color: transparent;
  border: 2px solid transparent;
  cursor: pointer;
}

.card__icon-button:focus-visible {
  border: 2px solid black;
  outline: none;
  transition: border 0.3s ease;
}

.card__like-button {
  position: relative;
  width: 130px;
  height: 38px;
  background-color: white;
  border: 2px solid black;
  padding: 12.5px 37px;
  font-family: var(--font-accent);
  font-size: 14px;
  line-height: 0.9;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
}

.card__like-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

.card__like-button:hover {
  color: white;
}

.card__like-button:hover::before {
  transform: translateX(0);
}

.card__like-button:focus, .save-button:focus {
  outline: none;
  
}

.card__like-button:focus-visible, .save-button:focus-visible {
  box-shadow: 2px 2px 0 #000;
  transition: box-shadow 0.3s ease;
}

.dialog {
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.save-button {
  margin: 0 auto;
  margin-bottom: 103px;
  max-width: 335px;
  font-family: var(--font-accent);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  padding: 15px 0;
  vertical-align: middle;
  position: relative;
  background-color: white;
  border: 2px solid black;

}

dialog {
  display: none;
}

dialog[open] {
  border: 2px solid black;
  display: grid;
  gap: 20px;
  font-family: var(--font-accent);
  font-size: 14px;
  padding: 30px;
}

.dialog-text {
  display: flex;
  flex-direction: row;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog-button {
  background-color: white;
  border: 2px solid black;
  height: 38px;
}

@media (width<=375px) {
  .header {
    padding: 120px 0;
  }

  .header-title {
    font-size: 49px;
  }

  .header-subtitle {
    font-size: 14px;
  }

  .card {
    margin-bottom: 52px;
  }

  .card-image {
    height: 375px;
  }

  .save-button {
    margin-bottom: 100px;
    flex-direction: column;
  }
}