/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-accent: 'PressStart2P';
  --font-main: 'Inter-Variable';
  --font-headers-weight: 700;
  --font-main-weight: 400;
  --header-width: clamp(375px, 100vw, 700px);
  --label-stroke-color: #ffffff;
  --animation-fill-color: #ff0000;
  --contour-color: #000000;
  --page-background: 
    /* 1. повторяющиеся полоски слева направо */
    repeating-linear-gradient(
      to right,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    /* 2. повторяющиеся полоски сверху вниз */
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    /* 3. плавный градиент сверху вниз */
    linear-gradient(
      to bottom,
      #e7e7e7 0.01%,
      #1a1a1a 100%
    );
}