/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-accent: 'PressStart2P';
  --font-main: 'Inter-Variable';
  --font-headers-weight: 700;
  --font-main-weight: 400;
}